<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loongray.ecms.mybatis.dao.DataDailySummationMapper">
  <resultMap id="BaseResultMap" type="com.loongray.ecms.mybatis.pojo.DataDailySummation">
    <id column="UniqueId" jdbcType="INTEGER" property="uniqueid" />
    <result column="SignalId" jdbcType="INTEGER" property="signalid" />
    <result column="ProjectId" jdbcType="INTEGER" property="projectid" />
    <result column="GroupId" jdbcType="INTEGER" property="groupid" />
    <result column="BuildingId" jdbcType="INTEGER" property="buildingid" />
    <result column="PointId" jdbcType="INTEGER" property="pointid" />
    <result column="EquipmentId" jdbcType="INTEGER" property="equipmentid" />
    <result column="SignalGroupId" jdbcType="INTEGER" property="signalgroupid" />
    <result column="EnergyCategoryId" jdbcType="INTEGER" property="energycategoryid" />
    <result column="SignalCategoryId" jdbcType="INTEGER" property="signalcategoryid" />
    <result column="EnergyItemId" jdbcType="INTEGER" property="energyitemid" />
    <result column="EnergyItemLvOneId" jdbcType="INTEGER" property="energyitemlvoneid" />
    <result column="EnergyItemLvTwoId" jdbcType="INTEGER" property="energyitemlvtwoid" />
    <result column="BuildingSummary" jdbcType="BIT" property="buildingsummary" />
    <result column="CompanySummary" jdbcType="BIT" property="companysummary" />
    <result column="CategorySummary" jdbcType="BIT" property="categorysummary" />
    <result column="ItemSummary" jdbcType="BIT" property="itemsummary" />
    <result column="Year" jdbcType="INTEGER" property="year" />
    <result column="Month" jdbcType="INTEGER" property="month" />
    <result column="Day" jdbcType="INTEGER" property="day" />
    <result column="Value" jdbcType="DOUBLE" property="value" />
    <result column="SummationTime" jdbcType="TIMESTAMP" property="summationtime" />
    <result column="UploadTime" jdbcType="TIMESTAMP" property="uploadtime" />
  </resultMap>
  <sql id="Base_Column_List">
    UniqueId, SignalId, ProjectId, GroupId, BuildingId, PointId, EquipmentId, SignalGroupId, 
    EnergyCategoryId, SignalCategoryId, EnergyItemId, EnergyItemLvOneId, EnergyItemLvTwoId, 
    BuildingSummary, CompanySummary, CategorySummary, ItemSummary, Year, Month, Day, 
    Value, SummationTime, UploadTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from datadailysummation
    where UniqueId = #{uniqueid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from datadailysummation
    where UniqueId = #{uniqueid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.loongray.ecms.mybatis.pojo.DataDailySummation">
    insert into datadailysummation (UniqueId, SignalId, ProjectId, 
      GroupId, BuildingId, PointId, 
      EquipmentId, SignalGroupId, EnergyCategoryId, 
      SignalCategoryId, EnergyItemId, EnergyItemLvOneId, 
      EnergyItemLvTwoId, BuildingSummary, CompanySummary, 
      CategorySummary, ItemSummary, Year, 
      Month, Day, Value, SummationTime, 
      UploadTime)
    values (#{uniqueid,jdbcType=INTEGER}, #{signalid,jdbcType=INTEGER}, #{projectid,jdbcType=INTEGER}, 
      #{groupid,jdbcType=INTEGER}, #{buildingid,jdbcType=INTEGER}, #{pointid,jdbcType=INTEGER}, 
      #{equipmentid,jdbcType=INTEGER}, #{signalgroupid,jdbcType=INTEGER}, #{energycategoryid,jdbcType=INTEGER}, 
      #{signalcategoryid,jdbcType=INTEGER}, #{energyitemid,jdbcType=INTEGER}, #{energyitemlvoneid,jdbcType=INTEGER}, 
      #{energyitemlvtwoid,jdbcType=INTEGER}, #{buildingsummary,jdbcType=BIT}, #{companysummary,jdbcType=BIT}, 
      #{categorysummary,jdbcType=BIT}, #{itemsummary,jdbcType=BIT}, #{year,jdbcType=INTEGER}, 
      #{month,jdbcType=INTEGER}, #{day,jdbcType=INTEGER}, #{value,jdbcType=DOUBLE}, #{summationtime,jdbcType=TIMESTAMP}, 
      #{uploadtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.loongray.ecms.mybatis.pojo.DataDailySummation">
    insert into datadailysummation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uniqueid != null">
        UniqueId,
      </if>
      <if test="signalid != null">
        SignalId,
      </if>
      <if test="projectid != null">
        ProjectId,
      </if>
      <if test="groupid != null">
        GroupId,
      </if>
      <if test="buildingid != null">
        BuildingId,
      </if>
      <if test="pointid != null">
        PointId,
      </if>
      <if test="equipmentid != null">
        EquipmentId,
      </if>
      <if test="signalgroupid != null">
        SignalGroupId,
      </if>
      <if test="energycategoryid != null">
        EnergyCategoryId,
      </if>
      <if test="signalcategoryid != null">
        SignalCategoryId,
      </if>
      <if test="energyitemid != null">
        EnergyItemId,
      </if>
      <if test="energyitemlvoneid != null">
        EnergyItemLvOneId,
      </if>
      <if test="energyitemlvtwoid != null">
        EnergyItemLvTwoId,
      </if>
      <if test="buildingsummary != null">
        BuildingSummary,
      </if>
      <if test="companysummary != null">
        CompanySummary,
      </if>
      <if test="categorysummary != null">
        CategorySummary,
      </if>
      <if test="itemsummary != null">
        ItemSummary,
      </if>
      <if test="year != null">
        Year,
      </if>
      <if test="month != null">
        Month,
      </if>
      <if test="day != null">
        Day,
      </if>
      <if test="value != null">
        Value,
      </if>
      <if test="summationtime != null">
        SummationTime,
      </if>
      <if test="uploadtime != null">
        UploadTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uniqueid != null">
        #{uniqueid,jdbcType=INTEGER},
      </if>
      <if test="signalid != null">
        #{signalid,jdbcType=INTEGER},
      </if>
      <if test="projectid != null">
        #{projectid,jdbcType=INTEGER},
      </if>
      <if test="groupid != null">
        #{groupid,jdbcType=INTEGER},
      </if>
      <if test="buildingid != null">
        #{buildingid,jdbcType=INTEGER},
      </if>
      <if test="pointid != null">
        #{pointid,jdbcType=INTEGER},
      </if>
      <if test="equipmentid != null">
        #{equipmentid,jdbcType=INTEGER},
      </if>
      <if test="signalgroupid != null">
        #{signalgroupid,jdbcType=INTEGER},
      </if>
      <if test="energycategoryid != null">
        #{energycategoryid,jdbcType=INTEGER},
      </if>
      <if test="signalcategoryid != null">
        #{signalcategoryid,jdbcType=INTEGER},
      </if>
      <if test="energyitemid != null">
        #{energyitemid,jdbcType=INTEGER},
      </if>
      <if test="energyitemlvoneid != null">
        #{energyitemlvoneid,jdbcType=INTEGER},
      </if>
      <if test="energyitemlvtwoid != null">
        #{energyitemlvtwoid,jdbcType=INTEGER},
      </if>
      <if test="buildingsummary != null">
        #{buildingsummary,jdbcType=BIT},
      </if>
      <if test="companysummary != null">
        #{companysummary,jdbcType=BIT},
      </if>
      <if test="categorysummary != null">
        #{categorysummary,jdbcType=BIT},
      </if>
      <if test="itemsummary != null">
        #{itemsummary,jdbcType=BIT},
      </if>
      <if test="year != null">
        #{year,jdbcType=INTEGER},
      </if>
      <if test="month != null">
        #{month,jdbcType=INTEGER},
      </if>
      <if test="day != null">
        #{day,jdbcType=INTEGER},
      </if>
      <if test="value != null">
        #{value,jdbcType=DOUBLE},
      </if>
      <if test="summationtime != null">
        #{summationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadtime != null">
        #{uploadtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.loongray.ecms.mybatis.pojo.DataDailySummation">
    update datadailysummation
    <set>
      <if test="signalid != null">
        SignalId = #{signalid,jdbcType=INTEGER},
      </if>
      <if test="projectid != null">
        ProjectId = #{projectid,jdbcType=INTEGER},
      </if>
      <if test="groupid != null">
        GroupId = #{groupid,jdbcType=INTEGER},
      </if>
      <if test="buildingid != null">
        BuildingId = #{buildingid,jdbcType=INTEGER},
      </if>
      <if test="pointid != null">
        PointId = #{pointid,jdbcType=INTEGER},
      </if>
      <if test="equipmentid != null">
        EquipmentId = #{equipmentid,jdbcType=INTEGER},
      </if>
      <if test="signalgroupid != null">
        SignalGroupId = #{signalgroupid,jdbcType=INTEGER},
      </if>
      <if test="energycategoryid != null">
        EnergyCategoryId = #{energycategoryid,jdbcType=INTEGER},
      </if>
      <if test="signalcategoryid != null">
        SignalCategoryId = #{signalcategoryid,jdbcType=INTEGER},
      </if>
      <if test="energyitemid != null">
        EnergyItemId = #{energyitemid,jdbcType=INTEGER},
      </if>
      <if test="energyitemlvoneid != null">
        EnergyItemLvOneId = #{energyitemlvoneid,jdbcType=INTEGER},
      </if>
      <if test="energyitemlvtwoid != null">
        EnergyItemLvTwoId = #{energyitemlvtwoid,jdbcType=INTEGER},
      </if>
      <if test="buildingsummary != null">
        BuildingSummary = #{buildingsummary,jdbcType=BIT},
      </if>
      <if test="companysummary != null">
        CompanySummary = #{companysummary,jdbcType=BIT},
      </if>
      <if test="categorysummary != null">
        CategorySummary = #{categorysummary,jdbcType=BIT},
      </if>
      <if test="itemsummary != null">
        ItemSummary = #{itemsummary,jdbcType=BIT},
      </if>
      <if test="year != null">
        Year = #{year,jdbcType=INTEGER},
      </if>
      <if test="month != null">
        Month = #{month,jdbcType=INTEGER},
      </if>
      <if test="day != null">
        Day = #{day,jdbcType=INTEGER},
      </if>
      <if test="value != null">
        Value = #{value,jdbcType=DOUBLE},
      </if>
      <if test="summationtime != null">
        SummationTime = #{summationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadtime != null">
        UploadTime = #{uploadtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where UniqueId = #{uniqueid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.loongray.ecms.mybatis.pojo.DataDailySummation">
    update datadailysummation
    set SignalId = #{signalid,jdbcType=INTEGER},
      ProjectId = #{projectid,jdbcType=INTEGER},
      GroupId = #{groupid,jdbcType=INTEGER},
      BuildingId = #{buildingid,jdbcType=INTEGER},
      PointId = #{pointid,jdbcType=INTEGER},
      EquipmentId = #{equipmentid,jdbcType=INTEGER},
      SignalGroupId = #{signalgroupid,jdbcType=INTEGER},
      EnergyCategoryId = #{energycategoryid,jdbcType=INTEGER},
      SignalCategoryId = #{signalcategoryid,jdbcType=INTEGER},
      EnergyItemId = #{energyitemid,jdbcType=INTEGER},
      EnergyItemLvOneId = #{energyitemlvoneid,jdbcType=INTEGER},
      EnergyItemLvTwoId = #{energyitemlvtwoid,jdbcType=INTEGER},
      BuildingSummary = #{buildingsummary,jdbcType=BIT},
      CompanySummary = #{companysummary,jdbcType=BIT},
      CategorySummary = #{categorysummary,jdbcType=BIT},
      ItemSummary = #{itemsummary,jdbcType=BIT},
      Year = #{year,jdbcType=INTEGER},
      Month = #{month,jdbcType=INTEGER},
      Day = #{day,jdbcType=INTEGER},
      Value = #{value,jdbcType=DOUBLE},
      SummationTime = #{summationtime,jdbcType=TIMESTAMP},
      UploadTime = #{uploadtime,jdbcType=TIMESTAMP}
    where UniqueId = #{uniqueid,jdbcType=INTEGER}
  </update>
</mapper>